.poi {
    -fx-pref-width: 25px;
    -fx-pref-height: 25px;

    -fx-background-color: white;
    -fx-background-radius: 50%;

    -fx-border-radius: 50%;
    -fx-border-width: 2px;
    -fx-border-color: #9E9E9E;

    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 6, 0.2, 0, 2);

    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 15px 15px;

    -fx-cursor: hand;
}

.poi-restaurant { -fx-background-image: url("icons/restaurant.png"); }
.poi-museum     { -fx-background-image: url("icons/museum.png"); }
.poi-hotel      { -fx-background-image: url("icons/hotel.png"); }
.poi-park       { -fx-background-image: url("icons/park.png"); }
.poi-shop       { -fx-background-image: url("icons/shop.png"); }
.poi-cinema     { -fx-background-image: url("icons/cinema.png"); }
.poi-bar        { -fx-background-image: url("icons/bar.png"); }
.poi-monument   { -fx-background-image: url("icons/monument.png"); }
.poi-other      { -fx-background-image: url("icons/other.png"); }

.poi:hover {
    -fx-scale-x: 1.15;
    -fx-scale-y: 1.15;
}