.poi-marker {
    -fx-background-radius: 999;
    -fx-background-color: #e74c3c;
    -fx-min-width: 14px;
    -fx-min-height: 14px;
    -fx-pref-width: 14px;
    -fx-pref-height: 14px;
    -fx-max-width: 14px;
    -fx-max-height: 14px;

    -fx-padding: 0;
    -fx-border-color: white;
    -fx-border-width: 2px;
    -fx-border-radius: 999;

    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.35), 6, 0.2, 0, 2);
}
.poi-marker:hover {
    -fx-scale-x: 1.15;
    -fx-scale-y: 1.15;
}
